/* Form Container */
.form-container {
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 5px;
  color: #333; /* Adjust the font color for the form content */
}

.form-container h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #007bff; /* Adjust the font color for the heading */
}

/* Form Groups */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555; /* Adjust the font color for labels */
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #333; /* Adjust the font color for input fields */
}

.radio-group,
.checkbox-group {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

/* Buttons */
.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.submit-button,
.reset-button {
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: #fff; /* Adjust the font color for buttons */
}

.submit-button {
  background-color: #007bff;
}

.reset-button {
  background-color: #ccc;
}

/* Error Messages */
.error-message {
  display: block;
  color: #e74c3c;
  font-size: 0.85rem;
  margin-top: 5px;
}

.list-container {
  display: flex;
  width: 60%;
}

.row {
  width: 100%;
  display: flex;
}

.col-3 {
  width: 30%;
}

.col-9 {
  width: 67%;
}